@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  
}

@media (prefers-color-scheme: light) {
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

body div {
  margin:0.5rem;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}